<div class="jumbotron">
  <h1 class="display-4">Welcome {{someElseSetting}}!</h1>
  <p class="lead">Please choose below, what you would like to do from this point on</p>
  <hr class="my-4">
  <ul>
      <li><a href="#/viewPreviousTransactions">View the last 10 transactions</a></li><br/>
      <li><a href="#/updateBalance">Update Your Balance</a></li><br/>
      <li><a href="#/viewBalance">View Your Balance</a></li>
    </ul>
    <hr/>
  <p>Look out for new features coming soon</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#/learnMore" role="button">Learn more</a>
  </p>
</div> 