    <header>
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#/vendingMachine">Vending Machine</a></li>
                <li><a href="#/overallData">Data</a></li>
            </ul>
        </nav>
    </header>

<h2>Login With Username</h2>
<form>
  <div class="form-group">
    <label for="username">Your Pin</label>
    <input type="password" class="form-control" id="username" placeholder="username">
  </div>
  <a class="btn btn-primary" href="#/vendingMachine" id="authenticate" ng-click="authenticate()">Login</a>
</form>