<a class="btn btn-primary" href="#/home" role="button">Back</a>
<div class="jumbotron">
  <h1 class="display-4">Update the Balance</h1>
  <p class="lead">Please enter the updated balance</p>
  <hr class="my-4">
<form>
  <div class="form-group">
    <label for="pin">Updated Amount</label>
    <input type="number" class="form-control" ng-model="amount" placeholder="Amount">
  </div>
</form>
  <p class="lead">
    <a class="btn btn-primary btn-lg" role="button" id="updateBalance" ng-click="updateBalance()">Submit</a>
  </p>
</div>