<!doctype html>
<html ng-app="homeApp">
    <head>
        <title> More on Directives </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="styles/styles.css" rel="stylesheet" type="text/css" />
        <link href="styles/animations.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
      
    <main>
        <div ng-view></div>
    </main>
    
  <script src="angular.js"></script>
            <script src="app/app.js"></script>
            <script src="app/controllers/UpdateBalanceController.js"></script>
            <script src="app/controllers/ViewPreviousTransactionsController.js"></script>
            <script src="app/controllers/LoginController.js"></script>
            <script src="app/services/login%20Factory.js"></script> 
            <script src="app/controllers/ViewBalanceController.js"></script>
            <script src="app/controllers/HomeController.js"></script>
            <script src="app/services/viewBalanceFactory.js"></script>
            <script src="app/services/updateBalanceFactory.js"></script>
            <script src="app/services/viewPreviousTransactionsFactory.js"></script>
            <script src="angular-animate.js"></script>
            <script src="angular-route.js"></script>
    </body>

</html>